.imgMainLogo {
  width           : 38px;
  height          : 38px;
  margin-left     : 5px;
  margin-right    : 5px;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

