# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/studio/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# env static files
/client/src/static/env.json

# local env files
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo

# logs
# /studio/logs
# /studio/*.log

# Coverage directory used by tools like istanbul
# /studio/coverage

# Compiled sanity studio
# /studio/dist
