// White Mode

// $primary-color      : #FFFFFF;
// $second-color       : #F6F7F8;
// $main-dark-color    : #DADFE6;


// Dark Mode

$primary-color      : #181818;
$second-color       : #202020;
$main-dark-color    : #181B24;


// Color

$green-lime-light   : #32D000;
$green-lime-dark    : #249701;
$red-light          : #FF0000;
$red-dark           : #c70000;
$gray-light         : #a3a3a3;
$gray-dark          : #6e6e6e;


// Color Properties

$p-color            : white;


// Font Size

$crypto-sidebar     : 20px;
$fiat-sidebar       : 14px;
