.boxSidebarDrawer {
  width: 250px !important;
}

.MuiPaper-root {
  background-color: $primary-color;
}

.imgSidebarCryptoLogoContainer {
  width           : 100%;
  height          : fit-content;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  margin-top      : 35px;
}

.imgSidebarCryptoLogo {
  width   : 100px;
  height  : 100px;
}

#txtSidebarCryptoBalance {
  color         : white;
  font-size     : $crypto-sidebar;
  margin-top    : 10px;
  margin-bottom : 0px;
}

#txtSidebarFiatBalance {
  color         : $gray-dark;
  font-size     : $fiat-sidebar;
  margin-bottom : 10px;
}

.sidebarAccountInfoContainer {
  width           : 100%;
  height          : fit-content;
  display         : flex;
  flex-direction  : column;
  margin-top: 10px;
}

.sidebarAddressContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

#imgSidebarInfo {
  margin-right: 10px;
}

.txtSidebarInfo {
  color: white;
  width: 180px;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}


@media only screen and (min-width: 0px) and (max-width: 600px) {
  .boxSidebarDrawer {
    width: 100vw !important;
  }

  .imgSidebarCryptoLogoContainer {
    margin-top: 0;
  }
}
